---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Profile from "../components/Profile.astro";
import Footer from "../components/Footer.astro";

let title = "About";
let description = "About";
---

<head>
  <BaseHead title={title} description={description} />
</head>

<body>
  <Header />
  <div class="wrapper">
    <Profile />
  </div>
  <Footer />
</body>

<style>
  body {
    padding-top: 3rem;
  }
</style>
