---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Profile from "../components/Profile.astro";
import Footer from "../components/Footer.astro";

let title = "About Jesper 'Jeppzone' Olsson Laine";
let description =
  "Hi! I'm Jesper. A software developer by profession and a health enthusiast and gamer by heart. In this section I tell you more about myself and my projects";
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image="https://i.ibb.co/qNSvxXB/j-logo-high-res.png"
      canonicalUrl="https://jeppzone.com/about/"
    />
  </head>
  <body>
    <Header />
    <div class="wrapper">
      <main class="content">
        <Profile />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
  }
  .wrapper {
    min-height: 100vh;
    padding-top: 3rem;
  }
</style>
