---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Profile from "../components/Profile.astro";
import Footer from "../components/Footer.astro";

let title = "About the Jeppzone";
let description = "Describes who Jesper is and what the Jeppzone blog is.";
---

<head>
  <BaseHead title={title} description={description} />
</head>

<html lang="en">
  <body>
    <Header />
    <div class="wrapper">
      <main class="content">
        <Profile />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    padding-top: 3rem;
  }
</style>
