---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

let title = "Contact information | Jeppzone.com";
let description = "Here you'll find contact information for the Jeppzone blog";
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image="https://i.ibb.co/qNSvxXB/j-logo-high-res.png"
      canonicalUrl="https://jeppzone.com/contact/"
    />
  </head>
  <body>
    <Header />
    <div class="wrapper">
      <main class="content">
        <h1>Get in touch with me</h1>
        <h3>Email: <a href="mailto:jeppzone@gmail.com">jeppzone@gmail.com</a></h3>
      </main>
    </div>
    <Footer />
    <style>
      body {
        margin: 0;
      }
      .wrapper {
        min-height: 100vh;
        padding-top: 3rem;
      }
      h1,
      h3 {
        text-align: center;
      }
    </style>
  </body>
</html>
