<footer>
  <div class="disclaimer">
    Discalimer: All content and media on the this website is created and published for informational purposes only. It is not intended to be a
    substitute for professional medical advice and should not be relied on as health or personal advice.
  </div>
</footer>

<style>
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-black);
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .disclaimer {
    width: 50%;
  }

  @media (max-width: 1400px) {
    .disclaimer {
      width: 98%;
    }
  }
</style>
