<header class="wrapper">
	<nav>
		<a href="/">
			<span>Jeppzone's blog</span>
		</a>
		<a href="/about">
			<span>About me</span>
		</a>
	</nav>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}

	nav {
		display: flex;
		justify-content: left;
	}

	a {
		padding-right: 1rem;
	}
</style>