<header>
  <nav>
    <div class="fuz">
      <a href="/">
        <span>Home</span>
      </a>
      <a href="/posts">
        <span>Posts</span>
      </a>
      <a href="/about">
        <span>About me</span>
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1000;
    min-height: 50px;
  }

  .fuz {
    height: 100%;
    width: 85ch;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin-left: 68px;
  }

  @media screen and (max-width: 1000px) {
    .fuz {
      width: 100%;
      justify-content: center;
      margin-left: 0;
    }
  }

  nav {
    display: flex;
    justify-content: center;
  }

  a {
    color: var(--color-white);
    padding-right: 1rem;
  }

  a:hover {
    text-decoration-color: var(--theme-accent);
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.08rem;
  }

  a:active,
  a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }
  img {
    margin-top: 10px;
  }
</style>
