<footer>
  <div>
    Disclaimer: All content and media on this website is created and published for informational purposes only. It is not intended to be a substitute
    for professional medical advice and should not be relied on as health or personal advice. © Jeppzone
  </div>

  <div class="resource-list">
    <ul>
      <li></li>
      <li>
        <a href="https://www.youtube.com/@jeppzonelifestyle">
          Youtube
          <img class="icon" src="/assets/blog/youtube-icon.png" alt="Youtube Icon" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/jeppzone">
          Twitter
          <img class="icon" src="/assets/blog/twitter-icon.png" alt="Twitter Icon" />
        </a>
      </li>
      <li>
        <a href="/privacy-policy"> Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    min-height: 50px;
    background: PapayaWhip;
    min-width: 100%;
    background-color: var(--color-black);
    color: white;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resource-list {
    font-family: Helvetica, Arial, sans-serif;
    font-size: larger;
    text-align: center;
    min-width: 100%;
  }

  .resource-list ul {
    text-align: left;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .resource-list li {
    font-weight: bold;
    padding-right: 5%;
  }

  .resource-list a {
    color: white;
    line-height: 30px;
  }
  .icon {
    width: 20px;
  }
</style>
