<body>
  <div class="card-container">
    <img class="round" src="https://i.ibb.co/mHtqVph/Jesper-olsson-laine.jpg" alt="Jesper Olsson Laine" />
    <h1>Jeppzone</h1>
    <p>
      Hi! I'm Jesper. A software developer by profession and a health enthusiast and gamer by heart. I am 30 years old and I currently live in
      Gothenburg, Sweden. I appreciate you stopping by!
    </p>
    <h2>Health and lifestyle</h2><p>
      I have throughout my life battled with gut issues, lethargy, and many other ambiguous symptoms. In this blog, I will share my experiences and
      give my view on a myriad of different health and lifestyle-related topics like nutrition, exercise, fasting, sleep, cold showers, sauna therapy,
      and much more! I will also conduct experiments such as fasting for a prolonged time, trying different diets and eating regimens, and sharing my
      findings from these health experiments. All opinions are my own and the content on the lifestyle section of this website should not be seen as
      medical advice. If you want to know more about me and my health endeavors, feel free to check out the <a href="/lifestyle">lifestyle section</a>
      of this website.
    </p>
    <a href="https://www.youtube.com/@jeppzonelifestyle">
      <img class="youtube-icon" src="/assets/blog/youtube-icon.png" alt="Youtube Icon" />
    </a>
    <a href="https://twitter.com/jeppzone">
      <img class="twitter-icon" src="/assets/blog/twitter_logo_blue.png" alt="Twitter Icon" />
    </a>
    <h2>Gaming</h2>
    <p>
      Ever since I was a little kid, I've been a fan of video games. The Nintendo 64 was my first console and I played games like Zelda: Ocarina of
      Time, Donkey Kong 64, Super Mario and Super Smash Bros 64 endlessly. I then transitioned from Nintendo to Sony and the Playstation 2, where I
      discovered GTA 3 and it was love at first sight. Somewhere between Playstation 2 and Playstation 3 I got my first own PC and started playing
      Counter-Strike 1.6 like crazy. When CS:GO was released I hadn't played Counter-Strike in a while, but decided to give it a try and fell in love
      with CS all over again. But none of these aforementioned games are my most played. That award goes to Path of Exile by a mile. I have around
      3000 hours in that game, and it's the only game I can honestly say that I've been addicted to. In the more recent years, I have discovered some
      of FromSoftware's catalogue (Sekiro: Shadows Die Twice, Dark Souls 3 and Elden Ring) and have learned to appreciate difficult games. Games I
      currently play are God of War, Rocket League & Elden Ring. Hogwarts Legacy releases in about a month and I'm really hyped for that one! If you
      want to know more about me and my gaming endeavors, feel free to check out the <a href="/gaming">gaming section</a>
      of this website.
    </p>
    <a href="https://www.youtube.com/@jeppzonegaming">
      <img class="youtube-icon" src="/assets/blog/youtube-icon.png" alt="Youtube Icon" />
    </a>
    <a href="https://twitter.com/jeppzonegaming">
      <img class="twitter-icon" src="/assets/blog/twitter_logo_blue.png" alt="Twitter Icon" />
    </a>
    <h2>Tech</h2>
    <p>
      I have been working professionally as a software developer for over five years. During these five years, I've learned a lot about all parts of
      the technology stack. I plan to start creating educational content around the topic of programming. My first course will be centered around C#
      .NET, as that's where most of my expertise lies. This website will of course be updated when the tech content starts rolling out.
    </p>
    <a href="https://github.com/jeppzone">
      <img class="github-icon" src="/assets/blog/github_logo_inverted.png" alt="Github Icon" />
    </a>
    <a href="https://www.linkedin.com/in/jesper-olsson-laine-86076a97/">
      <img class="linkedin-icon" src="/assets/blog/linkedin-icon.png" alt="LinkedIn Icon" />
    </a>
  </div>

  <style>
    body {
    }
    * {
      box-sizing: border-box;
    }

    h2 {
      text-transform: uppercase;
    }

    p {
      color: var(--color-black);
      font-size: 18px;
    }

    .card-container {
      position: relative;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding-bottom: 1rem;
    }

    .card-container .round {
      border-radius: 50%;
    }

    .round {
      padding-top: 1rem;
      width: 300px;
      z-index: 0;
    }
    .youtube-icon {
      width: 40px;
      margin-right: 10px;
      margin-left: 10px;
    }
    .twitter-icon {
      width: 45px;
      margin-right: 10px;
      margin-left: 10px;
    }
    .github-icon {
      width: 45px;
      margin-right: 10px;
      margin-left: 10px;
    }
    .linkedin-icon {
      width: 45px;
      margin-right: 10px;
      margin-left: 10px;
    }
  </style>
</body>
