<body>
  <div class="card-container">
    <img class="round" src="https://i.ibb.co/mHtqVph/Jesper-olsson-laine.jpg" alt="Jesper Olsson Laine" />
    <h1>Jeppzone</h1>
    <h2>Gothenburg, Sweden</h2>
    <p>
      Hi! I'm Jesper. A software developer by profession and a health enthusiast by heart. I appreciate you stopping by! In this blog, I will share my
      experiences and give my view on a myriad of different health and lifestyle-related topics like nutrition, exercise, fasting, hot & cold therapy
      , and much more! I will also conduct experiments such as fasting for a prolonged time, trying different diets and eating regimens and sharing my
      findings from these health experiments. All opinions are my own and this should not be seen as medical advice. If you want to know more about me
      and why I'm writing this blog,
      <a href="/posts/welcome">feel free to read my welcome post.</a>. Also, checkout my other posts <a href="/posts">here</a>. <br />
      <br /> On a side note, I also like to play video games. On my <a href="https://www.youtube.com/channel/UCm94qnyjx-BCogOtleHHsPA"
        >Youtube channel</a
      > I like to upload some Rocket League content. Feel free to check that out as well if you happen to be interested in that type of content!
    </p>
  </div>
</body>

<style>
  body {
  }
  * {
    box-sizing: border-box;
  }

  h2 {
    text-transform: uppercase;
  }

  p {
    color: var(--color-black);
    font-size: 18px;
  }

  .card-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  .card-container .round {
    border-radius: 50%;
  }

  img {
    padding-top: 1rem;
    width: 300px;
    z-index: 0;
  }
</style>
