<body>
  <div class="card-container">
    <img class="round" src="/assets/blog/jesper_olsson_laine.jpg" alt="Jesper Olsson Laine" />
    <h1>Jesper Olsson Laine | Jeppzone</h1>
    <h5>Gothenburg</h5>
    <p>
      Hi! I'm Jesper. A software developer by profession and health enthusiast by heart. I appreciate you stopping by! In this blog, I will share my
      experiences and give my view on a myriad of different health and lifestyle-related topics like nutrition, excercise, fasting, hot & cold therapy
      and much more! All opinions are my own and this should not be seen as medical advice.
      <a href="/posts/welcome">Feel free to read my welcome post</a>
    </p>
  </div>
</body>

<style>
  body {
  }
  * {
    box-sizing: border-box;
  }

  h5 {
    text-transform: uppercase;
  }

  p {
    color: var(--color-black);
    font-size: 18px;
  }

  .card-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  .card-container .round {
    border-radius: 50%;
  }

  img {
    padding-top: 1rem;
    width: 300px;
    z-index: 0;
  }
</style>
