<body>
  <div class="card-container">
    <img class="round" src="/assets/blog/jesper_olsson_laine.jpg" alt="Jesper Olsson Laine" />
    <h3>Jesper Olsson Laine</h3>
    <h5>Gothenburg</h5>
    <p>Software developer and health enthusiast</p>
  </div>
</body>

<style>
  * {
    box-sizing: border-box;
  }

  h5 {
    text-transform: uppercase;
  }

  p {
    color: var(--color-black);
    font-size: 18px;
  }

  .card-container {
    border-radius: 5px;
    background-color: var(--color-gray-50);
    box-shadow: 0px 10px 20px -10px var(--color-gray-900);
    color: var(--color-black);
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  .card-container .round {
    border-radius: 50%;
  }

  img {
    padding-top: 1rem;
    width: 400px;
  }
</style>