---
const { currentTitle } = Astro.props;
const nbrOfPostsToShow = 3;
const unsortedPosts = await Astro.glob("../pages/lifestyle/blog/*.md");
const posts = unsortedPosts
  .sort(function (a, b) {
    return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
  })
  .filter((p) => {
    return !(p.frontmatter.title?.toLowerCase() === currentTitle?.toLowerCase());
  })
  .slice(0, nbrOfPostsToShow);
---

<div>
  <h2>Read more</h2>
  <section aria-label="Blog post list">
    <div class="recent-posts">
      <div class="recent-posts">
        {
          posts.map(({ url, frontmatter }) => (
            <a href={url}>
              <div
                class="recent-post"
                style={`background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(${frontmatter.heroImage.src})`}
              >
                <h4>{frontmatter.title}</h4>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>

  <style>
    a {
      font-weight: bold;
    }
  </style>
</div>
