---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import LifestyleFooter from "../../components/LifestyleFooter.astro";

let title = "Jeppzone Tech Landingpage";
let description = "This site contains information about what resources are available for Jeppzone Tech";
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image="https://i.ibb.co/qNSvxXB/j-logo-high-res.png"
      canonicalUrl="https://jeppzone.com/tech/"
    />
  </head>

  <body>
    <Header />
    <img class="banner" src="/assets/blog/tech_banner.png" alt="JEPPZONE LIFESTYLE" />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <h1>COMING SOON!</h1>
        </section>
      </main>
    </div>
  </body>
  <LifestyleFooter />
</html>

<style>
  body {
    margin: 0;
  }
  .content {
    margin-top: 2rem;
  }
  .wrapper {
    min-height: 100vh;
    padding-top: 1rem;
  }

  .banner {
    min-width: 400px;
    width: 100%;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .intro {
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--theme-divider);
  }
  .icon {
    width: 35px;
    align-items: center;
  }
</style>
